@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
:root {
  --background-color: #dab88b;
  --carousel-color: #f3e9dd;
  --color-2: #fdf6ec;
  --color-3: #8fc1d4;

  --font-title :"Righteous","sans-serif";
  overflow-x: hidden;
  
}
body {
  background-color: var(--background-color);
}
/******************************************
 HERO 
 ******************************************/
.hero-img-container{

  margin:0 auto;
}
.hero-img-container img{
  top:0;
  bottom:0;
  width:100%;
  height:auto;
  
  
}
 .hero-cntnr {
   display: flex;
   flex-wrap: wrap-reverse;
   background-color: var(--background-color);
   position: relative;
   
   padding-left:clamp(1rem,15vw,10rem);
   align-items: center;
   height: 110vh;
   
   
  }
  @media screen and (max-width: 796px)  {
    .hero-cntnr{
      display:flex;
      justify-content: center;
    
      padding:0;
      
    }
    
    .hero-img-container{
      max-width:400px;
      
    
      
      height:1rem;
    }
    .hero-img-container img{
      width:400px;
      height:auto;
      
    }
  }
  
 /* @media screen and (max-width:800) {
  .hero-cntnr{
    flex-direction: row-reverse;
  }
  
 } */
.link-container {
  display:flex;
  justify-content: space-around;
  margin:1rem;
}
.hero-title {
  font-size: clamp(2rem, 6vw, 3.5rem);
  font-family:var(--font-title);
  text-shadow: 2px 2px 2px rgba(48, 45, 45, 0.25);
  color:black;
}
#hero-title-cntnr {

  display: flex;
  flex-direction: column;
  justify-content: center;

  left:0;
  bottom:0;

  
}





/******************************************
 ABOUT
 ******************************************/
  
 .about-cntnr h2 {
  display: flex;
  font-family:var(--font-title);
  font-size:4rem;
  justify-content: center;
  text-shadow: 2px 2px 2px rgba(48, 45, 45, 0.25);
}
.abt-image-container img{
  display: flex;
  flex-wrap: nowrap;
  
  height:100%;
}
.abt-image-container  {
  display:flex;
  flex-direction: column;
  width:50%;
  height:40%;
  
  
  
}
@media screen and (max-width:800px) {
  .about-me{
    flex-direction: column;
  }
  .abt-image-container img{
    
    width:100%;
    height:100%;
    
    
  }
  .abt-image-container{
    display:flex;
    width:20rem;
    height:20rem;
    
  }
}

.about-me{
  display: flex;
  
  width:100vw;
  max-height:100vh;
  padding:clamp(1rem,10vw,4rem);
  
}
.about-me p {
  
  font-size:clamp(10px,10vw,20px);
  line-height: 2rem;
}

/******************************************
 PROJECT-PAGE
 ******************************************/
 .section-title{
  display:flex;
  justify-content: center;
  padding-top:12rem;
 }
 .section-title h2{
  font-family: var(--font-title);
  margin-top:1rem;
  font-size:4rem;
  padding:3rem;
 }
.card-container {
  
  margin: 0 auto;
  width: 90vw;
  max-width: 1600px;
  display:grid;
  grid-template-columns: repeat(auto-fit,20rem);
  justify-content: center;
  /* background-color: var(--clr-secondary); */
  grid-gap: clamp(1rem, 15vw, 15rem);
  min-height:110vh;
  height:auto;
  
  align-items: center;
  
}
.card-container img{
  width:100%;
  height:100%;
  border-radius: 10px 10px 10px 10px;

}



.project-card{
  border-radius: 25px;
  box-shadow: 2px 2px 3px 3px #5e4f401d;
  padding: 1px 0px 30px 1px;
  background-color: var(--carousel-color);
  width: 100%;
  height:auto;

  
}
@media (min-width: 400px) {
  
  .card-img {
    height: 125px;
    min-height: 125px;
    
  }
  .image-container{
    min-height: 150px;
    margin: 16px 0;
  }
}
.project-title{
  margin:10px;
  padding:5px;
  font-family: var(--font-title);
  font-weight: 100;
  font-size:1.5rem;

}
.project-description{
  padding:10px;
  margin:5px;
}

.project-card{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width:1600px;
  width:auto;
  
  
}
.button-cntnr{
  display: inline-flex;
  margin-top:1em;
  
  
  

  

  

}

button.project-btns{
  
  font-size:1rem;
  text-decoration: none;
  border-width: 1.5px;
  border-color: black;
  border-radius:5rem;
  padding:.4rem;
  width:100%;
  margin:10px;
  cursor:hover;

}
#live{
  background-color:var(--color-3);
}
#github{
  background-color: white;
}
/******************************************
 CONTACT
 ******************************************/

 .contact-container form {
   width:100%;
   padding:10rem;
   display:flex;
   gap: 5rem;
   margin-top:7rem;
   justify-content: center;
   position:relative;

  
 }

 .label{
   font-size:1.5rem;
 }
 .input, .text-area{
   width:100%;
   font-size: 2rem;
   padding:1.2rem;
   color: grey;
   background-color: var(--color-2);
   outline:none;
   border:none;
   border-radius: 8px;
   margin-top:1rem;
 }
 .text-area{
   min-height:250px;
   resize:vertical;
 }
 .send-button{
   background-color: var(--color-2);
   color:black;
   font-size:2rem;
   display:inline-block;
   outline:none;
   border:none;
   padding: 1rem 4rem;
   border-radius:8px;
   cursor:pointer;

 }
 .user{
   line-height:5rem;
   
 }
 /******************************************
 GOOGLE MAPS
 ******************************************/
.map-container{
  width:50%;
  height:100%;
}